html{
  scroll-behavior: smooth;
}

nav{
  background-color: #ffc0cb;
  padding: 20px 8px 18px 0px; 
  text-align: right;
}

nav li{
  display: inline-block;
  padding-right: 0px; 
}

nav a{
  color: #000000;
  font-weight: bold;
  text-decoration: none; 
}

nav a:focus, a:hover{
  /* underlines when in focus or hover */
  text-decoration: underline;
  font-size: 25px;
  /* felt like the rest was overkill: */
  /* border: solid 3px #800000; */
  /* background-color: #f2dede; */
  /* color: #070a6e; */
}

.active{
  border: dashed 2px #800000;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
}

body{
  font-size: 18px;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 40px 0;
  text-align: center;
}

/* for the h1 lunch/dinner and dessert */
.hungry {
  font-size: 50px;
  line-height: 1;
  padding: 50px 0 0 0;
  text-align: center;
  margin: 0;
}

/* visible in mobile view and tablet view */
h2{
  font-size: 25px;
  font-style: oblique;
  font-weight: lighter;
  color: #ff4500;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

/* visible in mobile view and tablet view */
h3{
  font-size: 20px;
  font-style: oblique;
  font-weight: lighter;
  color: #19a53c;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

/* make lunch/dinner and dessert paras invisble in mobile view */
.dessert_info p, .meal_info p{
  display: none;
}

/* for homepage paragraphs and picture */
.home {
  padding: 0px 15px 10px 15px;
}

.lychee img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding: 5px;
}

/* skip to main content */
.skip a{
  background: #ffffff;
  left: 8px;
  top: -40px;
  position: absolute;
} 

/* position the skip class element when it is in focus*/
.skip a:focus{
  top: 20px;
}

/* styling footer */
footer{
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0 10px 0;
  text-align: center;
}

/* styling grid images when hover */
.grid img:hover{
  border: 5px #002d3d dashed;
}

/* grid for lunch/dinner */
.grid{
  display: grid;
  justify-items: center;
  align-items: center;

  /* for one column view - mobile */
  grid-template-columns: 1fr;
}

.grid img{
  border: solid 7px #ceabf1;
  margin: 15px 15px 15px 15px;
}


/* flex for dessert page, mobile view*/
.flex{
  display: flex;
  flex-direction: column;
}

.flex img{
  border: solid 7px #129eba;
  width: 75%;
  height: 400px;
  margin: 10px;
  align-self: center;
}

/* styling grid images when hover */
.flex img:hover{
  border: 5px #002d3d dashed;
}

/* TABLET VIEW */
@media screen and (min-width: 768px) and (max-width: 1023px){
  /* remove h2s on both pages */
  h2 {
    display: none;
  }

  /* make lunch/dinner and dessert paras visble in tablet view */
  .dessert_info p, .meal_info p{
    display: block;
    padding: 10px 20px 10px 15px;
    text-align: center;
  }

  .grid{
    /* for two column view */
    grid-template-columns: auto auto;
    align-items: stretch;
    justify-content: center;
  }

  .grid img{
    width: 70%;
  }

  .grid img:nth-child(3n) {  
    grid-column: 1/-1;
    width: 75%;
    height: 850px;
  }

  /* remove chocolate pics for tablet view, dessert page*/
  .choco {
    display: none;
  }

  /* flex for dessert page, tablet view*/
  .flex{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex img{
    width: 310px;
    height: 320px;
  }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1024px){
  /* make h2 invisible in desktop */
  h2 {
    display: none;
  }

  /* make h3 invisible in desktop */
  h3 {
    display: none;
  }

  /* make lunch/dinner and dessert paras visble in desktop view */
  .dessert_info p, .meal_info p{
    display: block;
    padding: 10px 20px 10px 15px;
    text-align: center;
  }

  /* for three column view */
  .grid {
    grid-template-columns: auto auto auto;
  }

  .grid img {
    width: 80%;
  }
  
  /* flex for dessert page, desktop view*/
  .flex{
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex img{
    width: 310px;
    height: 320px;
  }
}


/* turn off animation */
/* @media (prefers-reduced-motion) {
  #logo {
    animation: none;
  }
} */